## Review Exercise: data analysis

Create a data frame from http://rcs.bu.edu/examples/python/data_analysis/flights.csv
‐ Show how many elements this data has, the column names and the data types for each column
‐ Show the statistical summaries for the numeric columns in the dataset ( df.describe() )

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#we can read in external data
df = pd.read_csv('http://rcs.bu.edu/examples/python/data_analysis/flights.csv')

In [ ]:
df.head()

In [12]:
df.size
df.shape

(160754, 16)

In [ ]:
# carry out these mini-challenges until about 2:10
# Show how many elements this data has

In [9]:
# Show the column names 
df.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [10]:
# Show the data types for each column
df.dtypes

year           int64
month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

In [18]:
# Show the statistical summaries
# for the numeric columns in the dataset ( df.describe() )
df.describe()
df.mean(numeric_only=True)
df.max(numeric_only=True)
df.min(numeric_only=True)
df.count(numeric_only=True)

year         160754
month        160754
day          160754
dep_time     158418
dep_delay    158418
arr_time     158275
arr_delay    157927
flight       160754
air_time     157927
distance     160754
hour         158418
minute       158418
dtype: int64

### we can read excel, csv, json, html, xml ...

In [21]:
posts = pd.read_json('https://jsonplaceholder.typicode.com/posts')

In [22]:
posts

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...