## Review Exercise: data analysis

Create a data frame from http://rcs.bu.edu/examples/python/data_analysis/flights.csv
‐ Show how many elements this data has, the column names and the data types for each column
‐ Show the statistical summaries for the numeric columns in the dataset ( df.describe() )

In [2]:
import numpy as np
import pandas as pd

In [3]:
#we can read in external data
df = pd.read_csv('http://rcs.bu.edu/examples/python/data_analysis/flights.csv')

In [4]:
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

In [5]:
df.size
df.shape

(160754, 16)

In [6]:
# carry out these mini-challenges until about 2:10
# Show how many elements this data has

In [7]:
# Show the column names 
df.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [8]:
# Show the data types for each column
df.dtypes

year           int64
month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

In [9]:
# Show the statistical summaries
# for the numeric columns in the dataset ( df.describe() )
df.describe()
df.mean(numeric_only=True)
df.max(numeric_only=True)
df.min(numeric_only=True)
df.count(numeric_only=True)

year         160754
month        160754
day          160754
dep_time     158418
dep_delay    158418
arr_time     158275
arr_delay    157927
flight       160754
air_time     157927
distance     160754
hour         158418
minute       158418
dtype: int64

### Further Review
Experiment with ways to fix the mising data within the flights data set

In [10]:
# e.g. use ffill to replace the missing data
# try using a fixed value, an mean value or just dropping the data
# NB do this in a copy of the original data (so we dont lose the original)

In [35]:
df.carrier == 'UA' # retuns True or False
df_UA = df[ df.carrier == 'UA' ]  
# df_UA_na = df_UA[ df_UA.isnull() ]
df_UA_na = df_UA[ df_UA.isnull().any(axis=1) ]
df_UA_na # we see all the UA carrier records whwere there is NaN somewhere across the rows

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
860,2013,1,2,NaN,NaN,NaN,NaN,UA,NaN,623,EWR,ORD,NaN,719,NaN,NaN
1281,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,714,EWR,MIA,NaN,1085,NaN,NaN
1282,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,719,EWR,DFW,NaN,1372,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158415,2013,9,25,1552.0,-7.0,2048.0,NaN,UA,N408UA,375,EWR,SEA,NaN,2402,15.0,52.0
158809,2013,9,26,1331.0,2.0,1923.0,NaN,UA,N67052,15,EWR,HNL,NaN,4963,13.0,31.0
159520,2013,9,27,NaN,NaN,NaN,NaN,UA,NaN,269,LGA,ORD,NaN,733,NaN,NaN
160185,2013,9,29,1734.0,23.0,2159.0,NaN,UA,N463UA,327,EWR,PDX,NaN,2434,17.0,34.0
160286,2013,9,29,NaN,NaN,NaN,NaN,UA,NaN,331,LGA,ORD,NaN,733,NaN,NaN

In [12]:
# idea - make a df of just 'UA' (which contains NA value)

### Grouping and Aggregating Large Data Sets

In [13]:
# group the data by airline (carrier)
df.groupby('carrier')[['dep_delay']].mean() # or count or min etc.

         dep_delay
carrier
AA        8.586016
AS        5.804775
DL        9.264505
UA       12.106073
US        3.782418

In [14]:
# aggregate min, mean, max delays for departure
df[['dep_delay']].agg(['min', 'mean', 'max'])
# df['dep_delays']min.()

        dep_delay
min    -33.000000
mean     9.463773
max   1014.000000

In [15]:
df[['dep_delay', 'arr_delay']].agg(['min', 'mean', 'max'])

        dep_delay    arr_delay
min    -33.000000   -75.000000
mean     9.463773     2.094537
max   1014.000000  1007.000000

In [16]:
# what if we need to count unique members
df.agg({'carrier':['nunique']}) # nunique s the number of unique members

         carrier
nunique        5

In [17]:
# how many unique aircraft...
df.agg({'tailnum':['nunique']})
# or
df.tailnum.nunique()

2222

In [18]:
# challenge: What was the largest departure delay?
longest_dep_delay = df.dep_delay.max()
longest_dep_delay
# what was the longest arrival delay
# we can use [] syntax or we can use dot syntax
longest_arr_delay = df.arr_delay.max()
longest_Arr_delay = df['arr_delay'].max()
longest_arr_delay
# show ALL the related data for that row
df[ df.arr_delay == longest_arr_delay ]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
156166,2013,9,20,1139.0,1014.0,1457.0,1007.0,AA,N338AA,177,JFK,SFO,354.0,2586,11.0,39.0

### we can read excel, csv, json, html, xml ...

In [19]:
posts = pd.read_json('https://jsonplaceholder.typicode.com/posts')

In [20]:
posts

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...