## Review Exercise: data analysis

Create a data frame from http://rcs.bu.edu/examples/python/data_analysis/flights.csv
‐ Show how many elements this data has, the column names and the data types for each column
‐ Show the statistical summaries for the numeric columns in the dataset ( df.describe() )

In [ ]:
import numpy as np
import pandas as pd

In [44]:
#we can read in external data
df = pd.read_csv('http://rcs.bu.edu/examples/python/data_analysis/flights.csv')

In [ ]:
df.head()

In [ ]:
df.size
df.shape

In [ ]:
# carry out these mini-challenges until about 2:10
# Show how many elements this data has

In [ ]:
# Show the column names 
df.columns

In [ ]:
# Show the data types for each column
df.dtypes

In [ ]:
# Show the statistical summaries
# for the numeric columns in the dataset ( df.describe() )
df.describe()
df.mean(numeric_only=True)
df.max(numeric_only=True)
df.min(numeric_only=True)
df.count(numeric_only=True)

### Further Review
Experiment with ways to fix the mising data wiuthin the flights data set

In [ ]:
# e.g. use ffill to replace the missing data
# try using a fixed value, an mean value or just dropping the data
# NB do this in a copy of the original data (so we dont lose the original)

In [ ]:
df.tail(50)

In [ ]:
# idea - make a df of just 'UA' (which contains NA value)

### Grouping and Aggregating Large Data Sets

In [33]:
# group the data by airline (carrier)
df.groupby('carrier')[['dep_delay']].mean() # or count or min etc.

         dep_delay
carrier
AA        8.586016
AS        5.804775
DL        9.264505
UA       12.106073
US        3.782418

In [46]:
# aggregate min, mean, max delays for departure
df[['dep_delay']].agg(['min', 'mean', 'max'])
# df['dep_delays']min.()

        dep_delay
min    -33.000000
mean     9.463773
max   1014.000000

In [49]:
df[['dep_delay', 'arr_delay']].agg(['min', 'mean', 'max'])

        dep_delay    arr_delay
min    -33.000000   -75.000000
mean     9.463773     2.094537
max   1014.000000  1007.000000

In [51]:
# what if we need to count unique members
df.agg({'carrier':['nunique']}) # nunique s the number of unique members

         carrier
nunique        5

In [55]:
# how many unique aircraft...
df.agg({'tailnum':['nunique']})
# or
df.tailnum.nunique()

2222

In [61]:
# challenge: What was the largest departure delay?
longest_dep_delay = df.dep_delay.max()
longest_dep_delay
# what was the longest arrival delay
# we can use [] syntax or we can use dot syntax
longest_arr_delay = df.arr_delay.max()
longest_Arr_delay = df['arr_delay'].max()
longest_arr_delay
# show ALL the related data for that row
df[ df.arr_delay == longest_arr_delay ]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
156166,2013,9,20,1139.0,1014.0,1457.0,1007.0,AA,N338AA,177,JFK,SFO,354.0,2586,11.0,39.0

### we can read excel, csv, json, html, xml ...

In [ ]:
posts = pd.read_json('https://jsonplaceholder.typicode.com/posts')

In [ ]:
posts